<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/static/asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
    <title>Playing</title>
</head>
<style>
    body
    {
        background-image:url('/asserts/img/texas-bg.png');
        background-repeat:repeat-x;
        background-position:top;
        align-items:baseline;
    }

    .container-info {
        /*max-width:1920px!important;*/
        height: 200px;
        background-color: lightgrey;
    }

    .container-sec-info {
        height: 100px;
        background-color: floralwhite;
    }

    .flex-item {
        background-color: cornflowerblue;
        width: 100px;
        margin: 10px;
    }
</style>
<body>
<div class="d-flex w-100 h-100 flex-column justify-content-between">

    <div class="d-flex justify-content-around align-items-center" style="height: 200px;">
        <div class="flex-item text-center">
            <img class="mb-4" th:src="@{/asserts/img/poker_red_two.png}" alt="" height="185">
            <span class="text-lg-center">flex item 1</span> </div>
        <div class="flex-item">
            <img class="mb-4" th:src="@{/asserts/img/poker_red_two.png}" alt="" height="185">
            flex item 2</div>
        <div class="flex-item">
            <img class="mb-4" th:src="@{/asserts/img/poker_red_two.png}" alt="" height="185">
            flex item 3</div>
        <div class="flex-item">
            <img class="mb-4" th:src="@{/asserts/img/poker_red_two.png}" alt="" height="185">
            flex item 3</div>
        <div class="flex-item">
            <img class="mb-4" th:src="@{/asserts/img/poker_red_two.png}" alt="" height="185">
            flex item 3</div>
    </div>

    <div class="d-flex" style="height:150px;">

        <div id="toastDiv" class="d-flex flex-column align-items-baseline" style="height:100px; max-height:200px">
            <div id="myToast" class="toast" role="alert" aria-live="polite" aria-atomic="true" data-delay="15000">
                <div class="toast-header">
    <!--                <img src="..." class="rounded mr-2" alt="...">-->
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="rounded mr-2 bi bi-suit-club" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1a3.25 3.25 0 0 0-3.25 3.25c0 .186 0 .29.016.41.014.12.045.27.12.527l.19.665-.692-.028a3.25 3.25 0 1 0 2.357 5.334.5.5 0 0 1 .844.518l-.003.005-.006.015-.024.055a21.893 21.893 0 0 1-.438.92 22.38 22.38 0 0 1-1.266 2.197c-.013.018-.02.05.001.09.01.02.021.03.03.036A.036.036 0 0 0 5.9 15h4.2c.01 0 .016-.002.022-.006a.092.092 0 0 0 .029-.035c.02-.04.014-.073.001-.091a22.875 22.875 0 0 1-1.704-3.117l-.024-.054-.006-.015-.002-.004a.5.5 0 0 1 .838-.524c.601.7 1.516 1.168 2.496 1.168a3.25 3.25 0 1 0-.139-6.498l-.699.03.199-.671c.14-.47.14-.745.139-.927V4.25A3.25 3.25 0 0 0 8 1zm2.207 12.024c.225.405.487.848.78 1.294C11.437 15 10.975 16 10.1 16H5.9c-.876 0-1.338-1-.887-1.683.291-.442.552-.88.776-1.283a4.25 4.25 0 1 1-2.007-8.187 2.79 2.79 0 0 1-.009-.064c-.023-.187-.023-.348-.023-.52V4.25a4.25 4.25 0 0 1 8.5 0c0 .14 0 .333-.04.596a4.25 4.25 0 0 1-.46 8.476 4.186 4.186 0 0 1-1.543-.298z"/>
                    </svg>
                    <strong class="mr-auto">变更提示</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
            <div id="myToast2" class="toast" role="alert" aria-live="polite" aria-atomic="true" data-delay="30000" style="position: relative;">
                <div class="toast-header">
                    <!--                <img src="..." class="rounded mr-2" alt="...">-->
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="rounded mr-2 bi bi-suit-club" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1a3.25 3.25 0 0 0-3.25 3.25c0 .186 0 .29.016.41.014.12.045.27.12.527l.19.665-.692-.028a3.25 3.25 0 1 0 2.357 5.334.5.5 0 0 1 .844.518l-.003.005-.006.015-.024.055a21.893 21.893 0 0 1-.438.92 22.38 22.38 0 0 1-1.266 2.197c-.013.018-.02.05.001.09.01.02.021.03.03.036A.036.036 0 0 0 5.9 15h4.2c.01 0 .016-.002.022-.006a.092.092 0 0 0 .029-.035c.02-.04.014-.073.001-.091a22.875 22.875 0 0 1-1.704-3.117l-.024-.054-.006-.015-.002-.004a.5.5 0 0 1 .838-.524c.601.7 1.516 1.168 2.496 1.168a3.25 3.25 0 1 0-.139-6.498l-.699.03.199-.671c.14-.47.14-.745.139-.927V4.25A3.25 3.25 0 0 0 8 1zm2.207 12.024c.225.405.487.848.78 1.294C11.437 15 10.975 16 10.1 16H5.9c-.876 0-1.338-1-.887-1.683.291-.442.552-.88.776-1.283a4.25 4.25 0 1 1-2.007-8.187 2.79 2.79 0 0 1-.009-.064c-.023-.187-.023-.348-.023-.52V4.25a4.25 4.25 0 0 1 8.5 0c0 .14 0 .333-.04.596a4.25 4.25 0 0 1-.46 8.476 4.186 4.186 0 0 1-1.543-.298z"/>
                    </svg>
                    <strong class="mr-auto">变更提示</strong>
                    <small>11 mins ago</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>

        <div class="ml-auto" style="width: 15%; max-width: 25%">

            <div class="card border-danger text-dark bg-white mb-3" style="max-width: 18rem;">
                <div class="card-header border-dark">
                    <h6>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-subtract" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
                        </svg>
                        &nbsp;STATUS</h6>
                </div>
                <div class="card-body">
                    <h5 id="pot_count" class="card-title">$ 500 &nbsp;in the pot</h5>
                    <p class="card-text">now you need to bet $20 at least</p>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-around align-items-baseline" style="width: 10%!important;">
            <div class="">
                    <button id="start_btn" class="btn btn-lg btn-outline-dark btn-block" type="button" style="height:150px;width:70px">开始游戏</button>
            </div>
            <div class="">
                    <button id="exit_btn" class="btn btn-lg btn-outline-danger btn-block" type="button" style="height:150px;width:70px">退出牌桌</button>
            </div>
        </div>
    </div>

    <div class="d-flex w-100">

        <div class="w-25"></div>
        <div id="boardCards">
            <img class="mb-4" th:src="@{/asserts/img/poker_red_one.png}" alt="" height="185">
            <img class="mb-4" th:src="@{/asserts/img/poker_red_one.png}" alt="" height="185">
            <img class="mb-4" th:src="@{/asserts/img/poker_red_one.png}" alt="" height="185">
        </div>


    </div>

    <div class="d-flex align-items-center "></div>

    <div class="d-flex justify-content-between align-items-center" id="myCards">
        <div style="background-color: floralwhite; width:15%!important">
        </div>
        <div class="" style="background-color: floralwhite;">
            <img class="" th:src="@{/asserts/img/poker_red_one.png}" alt="" height="185">
            <img class="" th:src="@{/asserts/img/poker_red_one.png}" alt="" height="185">
        </div>
        <div style="background-color: floralwhite; width:15%!important">
        </div>

        <div class="d-flex justify-content-around" style="width:40%!important">
            <div class="">
                <button id="fold_btn" class="btn btn-lg btn-warning btn-block" type="button">FOLD</button>
            </div>
            <div class="">
                <button id="allin_btn" class="btn btn-lg btn-outline-danger btn-block" type="button">ALL IN</button>
            </div>
            <div class="">
                <button id="check_btn" class="btn btn-lg btn-success btn-block" type="button">CHECK / CALL</button>
            </div>
            <div class="">
                <button id="table_create_modal_btn" class="btn btn-lg btn-light  btn-block" type="button">RAISE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="tableRaiseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">RAISE</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="raise_input" class="col-md-4 control-label">加注数量</label>
                        <div class="col-md-8">
                            <input type="text" name="tableIndex" class="form-control" id="raise_input" placeholder="">
                            <span class="help-block"/>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="raise_btn">Raise</button>
            </div>
        </div>
    </div>
</div>

</body>

<script src="/static/asserts/js/jquery-3.2.1.slim.min.js" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script src="/static/asserts/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
<script th:inline="javascript">

    $('#myToast').toast('show');
    $('#myToast2').toast('show');

    /*  发起Ajax长轮询请求，进行游戏状态查询  */
    long_polling();

    function long_polling() {
        $.ajax({
            type: 'get',
            url: "/player/status",
            contentType: "application/json",
            timeout:30000,
            success: function (res) {

                // $('#toastDiv').append(toast_new);
                // $('#myToast').toast('show');

                if (res.code === 100) {
                    /* POT */
                    let pot = res.data.pot;
                    let pot_html = "$ "+pot+" &nbsp;in the pot";
                    $('#pot_count').html(pot_html);

                    /* BOARDCARD */
                    let board_cards = res.data.boardCards;
                    if (board_cards != null) {
                        let b0 = board_cards[0];
                        let b1 = board_cards[1];
                        let b2 = board_cards[2];
                        let inner = "<img class=\"mb-4\" th:src=\"@{/asserts/cards/2s.png}\" alt=\"\" height=\"185\">"+b0+"\n";
                        $("#boardCards").html(inner);
                        $("#boardCards").appendTo("<img class=\"mb-4\" th:src=\"@{/asserts/cards/2s.png}\" alt=\"\" height=\"185\">"+b1+"\n")
                        $("#boardCards").appendTo("<img class=\"mb-4\" th:src=\"@{/asserts/cards/2s.png}\" alt=\"\" height=\"185\">"+b2+"\n")
                    }
                } else if (res.code === 200) {
                    console("哪里出问题了："+res.msg);
                }

                // alert(res.extend.boardCard);
                // alert(res.extend.playerName);
                // alert(res.extend.playerOperation);
                long_polling();
            }
        })
        long_polling();
    }

    /*  点击手牌背面发送Ajax请求显示当前手牌  */

    $("#myCards").click(function () {
        if ($("#myCards").attr("if_show") == null) {
            $.ajax({
                type: 'get',
                url: "/player/cards",
                success: function (res) {
                    $("#myCards").attr("if_show", true);
                },
                error: function (e) {
                    console.log(e.responseFields);
                    let a = JSON.parse(e.responseText);
                    console.log(a);
                }
            })
        } else if ($("#myCards").attr("if_show") == true) {
        }
    });

    /* 点击FOLD按钮 发送Ajax请求 */

    $("#fold_btn").click(function () {
        $.ajax({
            type: 'post',
            url: "/player/fold",
            success: function (res) {
            },
        })
    });

    /* 点击ALLIN按钮 发送Ajax请求 */

    $("#allin_btn").click(function () {
        $.ajax({
            type: 'put',
            url: "/player/bet",
            success: function (res) {
            },
            error: function (e) {
            }
        })
    });

    /* 点击CHEAK/CALL按钮 发送Ajax请求 */

    $("#check_btn").click(function () {
        $.ajax({
            type: 'post',
            url: "/player/check",
            success: function (res) {
            },
            error: function (e) {
            }
        })
    });

    /* RAISE 发送Ajax请求 */
    // 点击RAISE弹出模态框
    $("#table_create_modal_btn").click(function () {
        // 表单重置
        // reset_form("#tableCreateModal form");
        // 弹出
        $("#tableRaiseModal").modal({
            backdrop:"static"
        });
    });

    // 点击按钮，将填写的数据提交给服务器
    $("#raise_btn").click(function () {
        $.ajax({
            type: 'POST',
            url: "/player/bet",
            data: {
                "wager": $("#raise_input").val()
            },
            success: function (res) {
            },
            error: function (e) {
            }
        })
        // 关闭框框
        $("#tableRaiseModal").modal('hide');
    });

    /* 点击开始游戏 发送Ajax请求 */

    $("#start_btn").click(function () {
        $.ajax({
            type: 'get',
            url: "/rungame/begin",
            success: function (res) {
                long_polling();
                console(res);
                let a = JSON.parse(res);
                console(a);
            },
            error: function (e) {
            }
        })
    });

    /* 点击退出牌桌 发送请求 */

    $("#exit_btn").click(function () {
        httpRequest("post",
            "/rungame/exit",
        null)
    });


    function httpRequest(method, url, params) {
        var form = $("<form method="+method+"></form>");
        form.attr({"action":url});
        for (pa in params) {
            var input = $("<input type='hidden'>");
            input.attr({"name":pa});
            input.val(params[pa]);
            form.append(input);
        }
        $("html").append(form);
        form.submit();
    }



</script>
</html>
